body {
  display: block;
}

.design {
  font-size: xx-large;
  color: blue;
  background-color: aqua;
}

.service_heading {
  display: block;
  font-size: xx-large;
  color: blue;
  align-items: center;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
}
